{% extends 'layout.html' %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Non odio euismod lacinia at. Aliquet risus feugiat in ante metus dictum at tempor commodo. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Pharetra convallis posuere morbi leo. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Neque sodales ut etiam sit amet nisl purus. In metus vulputate eu scelerisque felis imperdiet proin. Leo vel fringilla est ullamcorper eget nulla facilisi. Nunc mi ipsum faucibus vitae aliquet.
            </p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                In dictum non consectetur a erat. Fusce id velit ut tortor. Sed id semper risus in hendrerit gravida rutrum. At tempor commodo ullamcorper a lacus vestibulum sed. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Amet porttitor eget dolor morbi non arcu risus quis. Lectus urna duis convallis convallis tellus id interdum velit laoreet. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Dignissim enim sit amet venenatis urna cursus eget nunc. Diam maecenas sed enim ut sem viverra aliquet. Nullam vehicula ipsum a arcu cursus vitae congue. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Dis parturient montes nascetur ridiculus mus mauris vitae. Vulputate dignissim suspendisse in est ante in. Odio facilisis mauris sit amet massa vitae tortor condimentum.
            </p>
            <a href="#" class="btn">Go somewhere else</a>
        </div>
    </div>

{% endblock %}