{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
{% endblock %}


<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Motion Server</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-home"></i>Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-file-alt"></i>Config</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fas fa-video"></i>Cameras</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cog"></i>Settings</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://github.com/wrp1002/Motion-Detection-Server" class="btn">GitHub</a>
        </li>
    </ul>
    
</nav>