{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
{% endblock %}


<nav id="sidebar" class="sidebar">
    <ul class="sidebar-items">

        <li class="sidebar-item sidebar-header">
            <a href="/">
                <span class="sidebar-header-text">
                    <span class="link-text">MotionLink</span>
                </span>
                <i class="fas fa-angle-double-left"></i>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-tools"></i><span class="link-text">Actions</span></a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="sidebar-subitem">
                    <a href="#">Check for Updates</a>
                </li>
                <li class="sidebar-subitem">
                    <a href="#" id="restart-btn">Restart Server</a>
                </li>
                <li class="sidebar-subitem">
                    <a href="#" id="shutdown-btn">Shutdown Server</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="/config"><i class="fas fa-file-alt"></i><span class="link-text">Config</span></a>
        </li>

        <li class="sidebar-item">
            <a href="/cameras"><i class="fas fa-video"></i><span class="link-text">Cameras</span></a>
        </li>
        <li class="sidebar-item">
            <a href="#"><i class="fas fa-cog"></i><span class="link-text">Settings</span></a>
        </li>

        <li class="sidebar-item">
            <a href="https://github.com/wrp1002/Motion-Detection-Server" target="_blank">
                <i class="fab fa-github"></i>
                <span class="link-text">GitHub</span>
            </a>
        </li>

    </ul>
</nav>