:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --bg-primary: #141418;
    --bg-surface: #26262e;
    
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;

    --primary-accent: #6d7fcc;
    --secondary-accent: #80cbc4;

    --bg-sidenav: #23232e;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--bg-surface);
    margin-bottom: 1rem;
}

.btn-default {
    background-color: #6d7fcc;
    color: #fff;
}

.btn-default:hover {
    background-color: #8396E5 !important;
    color: #fff !important;
}

.btn > i {
    padding-right: 10px;
}

.flashes {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
    list-style: none;

    padding: 0;
    margin: 0;
}

.flashes li {
    padding: 3px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #0F0F0F;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    float: left;
    clear: left;
}

.flashes li i {
    padding-right: 5px;
}

.flashes li.message,li.info {
    background-color: #FFFFBB;
    color: #AAAA00;
}

.flashes li.error {
    background-color: #FFBBBB;
    color: #BB0000;
}

.flashes li.success {
    background-color: #BBFFBB;
    color: #00BB00;
}